.idea/CalcuLite.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/derivative.cpython-311.pyc
__pycache__/functions.cpython-311.pyc
__pycache__/integral.cpython-311.pyc
__pycache__/layouts_tool.cpython-311.pyc
__pycache__/main.cpython-311.pyc
__pycache__/resources_rc.cpython-311.pyc
__pycache__/saves.cpython-311.pyc
__pycache__/simplification.cpython-311.pyc
__pycache__/solvers.cpython-311.pyc
__pycache__/sympify.cpython-311.pyc
ui/__pycache__/__init__.cpython-311.pyc
ui/__pycache__/ui_bianxing.cpython-311.pyc
ui/__pycache__/ui_budengshi.cpython-311.pyc
ui/__pycache__/ui_budengshizu.cpython-311.pyc
ui/__pycache__/ui_dingyi.cpython-311.pyc
ui/__pycache__/ui_fangcheng.cpython-311.pyc
ui/__pycache__/ui_fangchengzu.cpython-311.pyc
ui/__pycache__/ui_help.cpython-311.pyc
ui/__pycache__/ui_jifen.cpython-311.pyc
ui/__pycache__/ui_jisuan.cpython-311.pyc
ui/__pycache__/ui_main.cpython-311.pyc
ui/__pycache__/ui_qiudao.cpython-311.pyc
ui/__pycache__/ui_shouye.cpython-311.pyc
.idea/workspace.xml
Project.json
